.todoFilters {
    display: flex;
    gap: 6px;
    align-items: center;
}

.filter {
    cursor: pointer;
    padding: 3px;
}

.filter:hover {
    opacity: 0.7;
}

.hiddenInput {
    display: none;
}

.active {
    border: 1px solid grey;
    border-radius: 2px;
}
